.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.piechart {
    text-align: center;
    min-width: 300px;
}

@media(min-width:500px) {
    .piechart {
        min-width: 500px;
    }
}

.barchart canvas {
    width: 1250px !important;
}

.piechart canvas {
    width: 750px !important;
}

.piechart svg path {
    cursor: pointer;
}

.x .tick text {
    transform: rotate(-70deg);
}

.barchart .bar {
    width: 10px;
}

rect {
    fill: #63C5DA !important;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}


/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */

.App-header {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}